/* GLOBAL STYLES AND VARIABLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

//MIXINS

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

//VARIABLES

$background-blue: linear-gradient(to right, #044688, #0573c7);
$background-yellow: linear-gradient(to right, #dfc48d, #93a048);
$background-pink: #ceaec5;

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  background-color: $background-blue;
}
body::-webkit-scrollbar {
  width: 1.2rem;
  background: $background-blue;
}
body::-webkit-scrollbar-thumb {
  background: $background-pink;
  border-radius: 1rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
