/* NAVIGATION STYLINGS */

#home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
header {
  width: 100vw;
  min-height: 10vh;
  position: fixed;
  top: 0;
  z-index: 3;
}
.on-scroll {
  background: $background-blue;
  min-height: 10vh;
  border: 1px solid black;
}
nav {
  width: 80%;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      list-style: none;
      margin-left: 1rem;
    }
  }
  a {
    color: $background-pink;
    text-decoration: none;
    font-size: 1.6rem;
  }
  a:hover {
    color: rgb(245, 243, 243);
  }
  img {
    width: 13rem;
    border-radius: 50%;
    padding: 1.5rem;
    background: $background-blue;
  }
}

.background-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -2;
  background: #ee9ca7;
  background: $background-yellow;
}

section {
  display: flex;
  height: 80vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero {
  width: 90%;
  height: 90%;
}
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  box-shadow: 2px 5px 5px 5px rgba(47, 54, 61, 0.5);
}

.hero-headline {
  position: absolute;
  top: 20%;
  right: 20%;
  color: #5c3a52;
  font-size: 2.2rem;
  text-align: center;
}

.background-circle-right {
  position: absolute;
  top: 0;
  left: 0;
  clip-path: circle(52.8% at 80% 9%);
  background: $background-blue;

  width: 100%;
  height: 100vh;
  z-index: -1;
}

.shopping-button {
  background: transparent;
  border: none;
}
