#products {
  flex-direction: column;
  min-height: 700vh;
  width: 100%;
  position: relative;
  background: $background-blue;
  color: white;
  @include flex;
  h1 {
    font-size: 3rem;
    z-index: 1;
    padding: 2rem;
    margin-top: 20rem;
  }
}

.clip-path-products {
  clip-path: polygon(0% 0%, 100% 0, 100% 6%, 45% 15%, 0 24%);
  background: $background-yellow;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.product-name {
  font-size: 1.9rem;
  padding: 3rem;
  color: $background-pink;
}

.product-cointainer {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $background-blue;
  padding: 2rem;
  border: 1px solid black;
  margin: 2rem;
  z-index: 2;
}

.product-text::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  background-color: transparent;
}
.product-text::-webkit-scrollbar {
  width: 1.2rem;
  background: transparent;
}
.product-text::-webkit-scrollbar-thumb {
  background: $background-pink;
  border-radius: 1rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.product-image {
  img {
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    height: 100%;
    min-height: 200px;
    max-height: 350px;
    object-fit: cover;
    padding: 0.5rem;
    border: 1px solid black;
    background: #9d8897;
    align-self: center;
    justify-self: center;
    margin: auto;
  }
  flex: 1 1 20rem;
}
.product-text {
  max-width: 350px;
  max-height: 300px;
  overflow-y: auto;
  padding: 2rem;
  font-size: 1.4rem;
  flex: 1 1 20rem;
}

.product-name {
  padding: 1rem;
  text-align: center;
}

.product-photo-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
