#work {
  min-height: 100vh;
  background: $background-blue;
  flex-direction: column;
  color: $background-pink;
  @include flex;
}

.work-container {
  @include flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 80rem;
  h1 {
    font-size: 2.5rem;
    padding: 2rem;
  }
  h2 {
    font-size: 2.2rem;
    padding: 3rem;
  }

  p {
    font-size: 1.6rem;
    padding: 2rem;
  }
}
