#work {
  min-height: 100vh;
  background: $background-blue;
  flex-direction: column;
  color: $background-pink;
  @include flex;
}

.work-container {
  @include flex;
  flex-direction: column;
  min-height: 100vh;
  width: 80%;
  h1 {
    font-size: 3rem;
    padding: 2rem;
  }
  h2 {
    font-size: 3rem;
    padding: 3rem;
  }

  p {
    font-size: 2rem;
  }
}
