/* GLOBAL STYLES AND VARIABLES */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  background-color: linear-gradient(to right, #044688, #0573c7);
}

body::-webkit-scrollbar {
  width: 1.2rem;
  background: -webkit-gradient(linear, left top, right top, from(#044688), to(#0573c7));
  background: linear-gradient(to right, #044688, #0573c7);
}

body::-webkit-scrollbar-thumb {
  background: #ecc9e2;
  border-radius: 1rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* NAVIGATION STYLINGS */
#home {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header {
  width: 100vw;
  min-height: 10vh;
  position: fixed;
  top: 0;
  z-index: 3;
}

.on-scroll {
  background: -webkit-gradient(linear, left top, right top, from(#044688), to(#0573c7));
  background: linear-gradient(to right, #044688, #0573c7);
  min-height: 10vh;
  border: 1px solid black;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

nav {
  width: 80%;
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  list-style: none;
  margin-left: 1rem;
}

nav a {
  color: #ecc9e2;
  text-decoration: none;
  font-size: 1.6rem;
}

nav a:hover {
  color: #f5f3f3;
}

nav img {
  width: 13rem;
  border-radius: 50%;
  padding: 1.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#044688), to(#0573c7));
  background: linear-gradient(to right, #044688, #0573c7);
}

.background-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -2;
  background: #ee9ca7;
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#f3d69d));
  background: linear-gradient(to right, #fff, #f3d69d);
}

.hero {
  width: 90%;
  height: 90%;
}

.hero-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 2px 5px 5px 5px rgba(47, 54, 61, 0.5);
          box-shadow: 2px 5px 5px 5px rgba(47, 54, 61, 0.5);
}

.hero-headline {
  position: absolute;
  top: 20%;
  right: 20%;
  background: -webkit-gradient(linear, left top, right top, from(#044688), to(#0573c7));
  background: linear-gradient(to right, #044688, #0573c7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.2rem;
  text-align: center;
}

.background-circle-right {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: circle(52.8% at 80% 9%);
          clip-path: circle(52.8% at 80% 9%);
  background: -webkit-gradient(linear, left top, right top, from(#044688), to(#0573c7));
  background: linear-gradient(to right, #044688, #0573c7);
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.shopping-button {
  background: transparent;
  border: none;
}

#contact {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#f3d69d));
  background: linear-gradient(to right, #fff, #f3d69d);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#work {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#044688), to(#0573c7));
  background: linear-gradient(to right, #044688, #0573c7);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ecc9e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 80%;
}

.work-container h1 {
  font-size: 3rem;
  padding: 2rem;
}

.work-container h2 {
  font-size: 3rem;
  padding: 3rem;
}

.work-container p {
  font-size: 2rem;
}

#products {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#044688), to(#0573c7));
  background: linear-gradient(to right, #044688, #0573c7);
  color: #9d8897;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  z-index: 1;
}

#products header {
  border-bottom: 0.5px solid black;
}

#products h1 {
  font-size: 3rem;
  z-index: 1;
  padding: 2rem;
  margin-top: 2rem;
  color: #ffe6f8;
}

#products .products-intro {
  padding: 4rem;
  max-width: 80rem;
  color: #ecc9e2;
}

#products .products-intro p {
  font-size: 1.5rem;
  z-index: 1;
}

.clip-path-products {
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 6%, 45% 15%, 0 24%);
          clip-path: polygon(0% 0%, 100% 0, 100% 6%, 45% 15%, 0 24%);
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#f3d69d));
  background: linear-gradient(to right, #fff, #f3d69d);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: 0;
}

.product-name {
  font-size: 1.9rem;
  margin: 2rem;
  color: #ffe6f8;
}

.product-cointainer {
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, right top, from(#044688), to(#0573c7));
  background: linear-gradient(to right, #044688, #0573c7);
  padding: 2rem;
  border: 1px solid black;
  margin: 2rem;
  z-index: 2;
  -webkit-box-shadow: 4px 4px rgba(218, 89, 89, 0.2);
          box-shadow: 4px 4px rgba(218, 89, 89, 0.2);
}

.product-text::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  background-color: transparent;
}

.product-text::-webkit-scrollbar {
  width: 1.2rem;
  background: transparent;
}

.product-text::-webkit-scrollbar-thumb {
  background: #ecc9e2;
  border-radius: 1rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.product-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

.product-image img {
  width: 100%;
  max-width: 350px;
  min-width: 200px;
  height: 100%;
  min-height: 200px;
  max-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0.5rem;
  border: 1px solid black;
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#f3d69d));
  background: linear-gradient(to right, #fff, #f3d69d);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: auto;
}

.product-text {
  max-width: 350px;
  max-height: 250px;
  overflow-y: auto;
  padding: 2rem;
  font-size: 1.4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  color: #ecc9e2;
}

.product-name {
  padding: 1rem;
  text-align: center;
}

.product-photo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.order {
  margin: 1rem;
  background: #ecc9e2;
  border: none;
  padding: 0.5rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
  margin-top: 2rem;
  border-radius: 2%;
  -webkit-box-shadow: 1px 1px 1px 1px #9d8897;
          box-shadow: 1px 1px 1px 1px #9d8897;
}

.order:hover {
  background: -webkit-gradient(linear, left top, right top, from(#044688), to(#0573c7));
  background: linear-gradient(to right, #044688, #0573c7);
  color: #9d8897;
  -webkit-box-shadow: 1px 1px 1px 1px #1a43f8;
          box-shadow: 1px 1px 1px 1px #1a43f8;
}

#about {
  min-height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#044688), to(#0573c7));
  background: linear-gradient(to right, #044688, #0573c7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ecc9e2;
  position: relative;
}

#about h1 {
  font-size: 3rem;
  color: #ffe6f8;
  text-align: center;
}

#about p {
  font-size: 1.5rem;
}

.about-wrapper {
  margin-top: 20rem;
  top: 0;
  max-width: 800px;
  z-index: 1;
  padding: 4rem;
}

.about-wrapper a {
  text-decoration: none;
  color: #ffe6f8;
  font-size: 1.6rem;
}

.clip-path-about {
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 2%, 45% 15%, 0 25%);
          clip-path: polygon(0% 0%, 100% 0, 100% 2%, 45% 15%, 0 25%);
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#f3d69d));
  background: linear-gradient(to right, #fff, #f3d69d);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 0;
}

#przemiany {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#f3d69d));
  background: linear-gradient(to right, #fff, #f3d69d);
}

#przemiany h1 {
  font-size: 3rem;
  margin-top: 5rem;
  background: -webkit-gradient(linear, left top, right top, from(#044688), to(#0573c7));
  background: linear-gradient(to right, #044688, #0573c7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clip-path-changes {
  -webkit-clip-path: polygon(50% 95%, 0 100%, 100% 100%);
          clip-path: polygon(50% 95%, 0 100%, 100% 100%);
  background: -webkit-gradient(linear, left top, right top, from(#044688), to(#0573c7));
  background: linear-gradient(to right, #044688, #0573c7);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.container {
  max-width: 700px;
  padding: 2rem;
  position: relative;
  margin: 5rem;
}

.container img {
  max-width: 100%;
  display: none;
  border: 2px solid #00152a;
  -webkit-box-shadow: 2px 5px 5px 5px rgba(47, 54, 61, 0.5);
          box-shadow: 2px 5px 5px 5px rgba(47, 54, 61, 0.5);
  padding: 1rem;
  background: -webkit-gradient(linear, left top, right top, from(#044688), to(#0573c7));
  background: linear-gradient(to right, #044688, #0573c7);
}

.container img.onTop {
  display: block;
  -webkit-animation: fadeImg 0.8s;
          animation: fadeImg 0.8s;
}

.container button {
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: rgba(1, 67, 117, 0.1);
  padding: 1px 5px;
  color: #03162e;
  font-size: 3.5rem;
}

.container button span {
  position: relative;
  display: inline-block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.photo-button-left:hover {
  -webkit-transform: translateX(-10px) scale(1.2);
          transform: translateX(-10px) scale(1.2);
}

.photo-button-right:hover {
  -webkit-transform: translateX(10px) scale(1.2);
          transform: translateX(10px) scale(1.2);
}

.slider-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
  color: #ecc9e2;
}

.slider-nav .arrow {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
}

.slider-nav a {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-nav span {
  display: block;
  width: 100%;
}

.photo-button-left {
  position: absolute;
  top: 45%;
  left: 6%;
}

.photo-button-right {
  position: absolute;
  top: 45%;
  right: 6%;
}

@-webkit-keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1100px) {
  .logo {
    width: 10rem;
  }
  .nav-links {
    height: 100%;
    width: 100%;
    background: #6441a5;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#014375), to(#00152a));
    background: linear-gradient(to right, #014375, #00152a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: -100%;
    left: 0%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  .nav-links li {
    padding: 1rem;
  }
  #product .nav-links {
    position: fixed;
  }
  .burger {
    position: fixed;
    top: 5rem;
    right: 10rem;
    width: 4rem;
    cursor: pointer;
    z-index: 1000;
  }
  .burger span {
    display: block;
    background: rosybrown;
    padding: 0.2rem 1rem;
    margin: 0.2rem;
  }
  .active {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
}
/*# sourceMappingURL=style.css.map */